body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hsla(219, 74%, 41%, 0.616);
    background-image: url(header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1rem 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 500px;
  }
  .div-con{
    margin: 0.5rem auto;
    width: 70%;
    padding: .5rem;
   
  }
  .container{
    height: auto;
    width: 80%;
    margin: 1rem auto;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
   
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .contact-section {
    margin: 2rem;
    text-align: center;
  }
  
  .contact-section h1 {
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input, textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
   
  }
  
  footer p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  @media screen and (width<576px) {
  *{
    height: auto;
    
   }
    nav ul {
      font-size: 1px;
      min-width: fit-content;
      display: inline-block;
      line-height: 4vh;
      
    }
  }