body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hsla(219, 74%, 41%, 0.616);
    background-image: url(header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1rem 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 500px;
  }
  .div-con{
    margin: 0.5rem auto;
    width: 90%;
    padding: .5rem;
   
  }
  .container{
    height: auto;
    width: 80%;
    margin: 1rem auto;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
   
  }
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .job-vacancies {
    margin: 2rem;
  }
  
  .job-vacancies h1 {
    margin-bottom: 2rem;
  }
  
  .job-vacancies form {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .job-vacancies label {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  .job-vacancies select {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    margin-right: 1rem;
  }
  
  .job-vacancies button {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #333;
    color: #fff;
  }
  
  .job-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .job-list li {
    margin-bottom: 0.5rem;
  }
  
  .job-list a {
    text-decoration: none;
    color: #333;
  }
  
  .job-list a:hover {
    color: #aaa;
  }
  

  .job-listing {
    margin: 2rem;
  }
  
  .job-listing h2 {
    text-align: center;
  }
  
  .job-listing ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .job-listing li {
    margin-bottom: 2rem;
  }
  
  .job-listing h3 {
    margin-bottom: 0.5rem;
  }
  
  .job-listing p {
    margin: 0.5rem 0;
  }
  
  .job-listing ul li {
    margin: 0.5rem 0;
  }
  
  .job-listing a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .job-listing a:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
 
  @media screen and (width<576px) {
    *{
     height: auto;
     
    }
     nav ul {
       font-size: 1px;
       min-width: fit-content;
       display: inline-block;
       line-height: 4vh;
       
     }
     #stream{
      display: block;
      width: 10vw;
     }
     .small-media{
      width: 100vw;
      margin: 20vw auto;
     }
   }
  